.users-table {
  ul {
    list-style: none;
  }
}
.user-block {
  img {
    height: 50px;
    width: 50px;
  }
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
